@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
 
  color :white;
  font-size: 1.5em;
  text-shadow: black 2px 0 10px;
  
  
}
.home
{
  display: flex;
  justify-content: flex-end;
  height: 100%;
   background-image: url('https://db3pap006files.storage.live.com/y4mP8iT4_vNWeC39RXy7GCpijk0hPgXOoS1bkV0D9UNSu6lORYQ_HJRZUiHlInlsR15xQhfbZK9IfaJdtBZh2f3YWNFRo6hyQNwSR8n3ljXBbGC3d_fsGR4u_7lbuayBK3jKjZyMd003Ntrk5hmQ6s18bhbVS8NA1SBtB4OLScHLRMyXoGR3sanlfvAsou1NlXT?width=3600&height=5393&cropmode=none') ;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.intro{
  text-align: center;
  width:30%;
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
  
}

@media (max-width: 991.98px)
{
  .intro{
    font-size: 1em;
    width: 90%;

  }

  .home{
    justify-content: center;
  }

}