html{
  background-image: url('https://db3pap006files.storage.live.com/y4mwUXoT41wSnW3FYOHWTwPCK5ppML10bDWcvcZYNTCyoSrySI7NtmZtEeFnn_bbpIw6VYGysREcM2BYFl-lL1pQW8tnFRsDpAlLZrqfdU2NryX2Y_2oKyUXjoVMBvFVuz3feT3cafYcBQuvmKg0aAayUTTSLXo-1OJdTopn0qFA0KL651kjAr14ftVt5JzfeQS?width=1253&height=1825&cropmode=none') ;
  background-size: cover;
  background-repeat: no-repeat;
  color :white;
  font-size: 1.5em;
  text-shadow: black 1px 0 10px;
}

