html{
  background-image: url('https://db3pap006files.storage.live.com/y4m784Pvd2PR2m47HEiGh_zYT_RGPCKhOVG7uSPMQMvnk9xrnc_QvG0oXeq1_Ic5Zl0ypEkKVOmV4F3LqF3n5v7Tjwa2AN-H3-7c9FnGXUXb4VGb5FTbbqohgfNGbrhkAPDL3DJ9OL-laxyXfTYy3gTTR42LyXZUJOKIbjFQfcpHoOY-nekb-2XIYdnLIrrf2zH?width=529&height=793&cropmode=none');
  background-size: cover;
  background-repeat: no-repeat;
  color :white;
  font-size: 1.5em;
  text-shadow: black 1px 0 10px;
}

