.all{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  
}
.card{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  
}
.name{
  text-align: center;
}
.image{
  object-fit: cover; 
  width: 30vw;
  height: 50vh;
  border-radius: 30px;
}  
.name{
height: 5vh;
 } 

 .button{
 
  top: calc(50% - 22px);
  text-align: center;
  display: inline-block;
  box-shadow: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: rgb(0, 240, 168);
  border-radius: 30px;
  color: rgb(40, 45, 50);
  cursor: pointer;
  transition: all .5s;
  transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  user-select: none;
 
 
    transform: scale(1.1, 1.1);

  
 
    transform: scale(1.05, 1.05);
  
 }



.modalcard{
    background-color: #1d1f22;
}

.modalfigure{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}
.modalimage{
  width: 50%;
  margin-right: 1%;
  object-fit: cover; 
}

.modalfigcaption{
  width: 50%;
  margin:0;
  display: flex;
  flex-direction: column;
}

.modalbutton{
  width: 20%;
  margin-top: 2%;
  top: calc(50% - 22px);
  text-align: center;
  display: inline-block;
  box-shadow: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: rgb(0, 240, 168);
  border-radius: 30px;
  color: rgb(40, 45, 50);
  cursor: pointer;
  transition: all .5s;
  transition-timing-function: cubic-bezier(.2, 3, .4, 1);
  user-select: none;
}

@media (max-width: 991.98px)
{
  .all{
    
    flex-direction: column;
  
  }
  .card{
    width: 100%;
    
    
  }
  .image{
    object-fit: cover; 
    width: 100vw;
    height: 50vh;
    border-radius: 30px;
  }  
  .figcaption{
    display:flex;
    flex-direction: column;
    align-content: center;
  }

  .modalfigure{
    display: flex;
    flex-direction: column;
  align-content: center;
   
  }

  .modalimage{
    width: 100%;
    margin:0;
    object-fit: cover; 
  }
  
  .modalfigcaption{
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }
  .modalcard{
    max-height: calc(100vh);
    overflow-y: auto;
  }
}