.footer{

  background-color:#1d1f22 ;
  padding: 1.5rem;

  flex-shrink: 0; /* For sticky footer */
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.1px;

  border-top: solid 1px white;
 
}