.nav{
  
  margin:0;
  width:94%;
  
}

.navlist{
  list-style:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  margin:0
}

a{
  text-decoration: none;
  color :white;
  font-size: 1em;
  text-shadow: black 1px 0 10px;
 
  
}



@media (max-width: 991.98px)
{
 a{
font-size: 0.6em;
border-left:solid 0.05em white;
border-right:solid 0.05em white;
 }

.navlist{
  justify-content: space-between;
}

}
